# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Organization Pool
  demands: agent.name -equals WindowsSelfHosted

steps:
- task: AzurePowerShell@5
  inputs:
    azureSubscription: 'ARMTemplateServiceConnection'
    ScriptType: 'InlineScript'
    Inline: 'Install-Module Az.Accounts -Scope CurrentUser -Force'
    azurePowerShellVersion: 'LatestVersion'
- task: AzurePowerShell@5
  inputs:
    azureSubscription: 'ARMTemplateServiceConnection'
    ScriptType: 'InlineScript'
    Inline: |
      Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
      $out=(Get-Module az.resources)
      Write-output $out
      $parameters = (invoke-webrequest https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.storage/storage-account-create/azuredeploy.parameters.json).Content | convertfrom-json
      $params = @{storageAccountName="2017258pc"}
      write-output (invoke-webrequest https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.storage/storage-account-create/azuredeploy.json).Content
      new-azresourcegroupdeployment -resourcegroupname vimallabs -templateURI https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.storage/storage-account-create/azuredeploy.json -templateparameterobject $params
    azurePowerShellVersion: 'LatestVersion'
   
